* {
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    font-family:Verdana, Tahoma, ;
    font-size: 20px;
    color: #f0e8e2;
    line-height: 1.6;

}
#showcase{
    background-image: url(https://cdn.wallpapersafari.com/42/7/fAzJ5n.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}
#showcase h1{
    font-family: 'Trebuchet MS';
    font-size: 100px;
    line-height: 1.2;
} 
#showcase p{
    font-size: 20px;
}
#showcase .button{
    font-family: Impact;
    font-size: 50px;
    text-decoration:none;
    color: rgb(37, 22, 243);
    border: rgba(255, 255, 255, 0.322) 1px solid;
    padding: 20px 50px;
    border-radius: 300px;
    margin-top: 20px;
    transition:  ease-out 0.5s;
    
}
.button2{
    font-family: Impact;
    font-size: 30px;
    text-decoration:none;
    color: rgb(228, 39, 39);
    border: rgba(229, 231, 224, 0.322) 1px solid;
    padding: 20px 30px;
    border-radius: 50px;
    margin-top: 20px;
    transition:  ease-out 0.5s;
}
.button2:hover{
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    box-shadow: inset 200px 0 0 0 rgb(238, 11, 30);
    cursor: pointer;
}
#showcase .button:hover{
    background-color: rgb(12, 54, 241);
    color: rgb(255, 255, 255);
    
}
#sec-a{
    padding: 20px;
    background-color: rgb(224, 139, 79);
    text-align: center;
    color: snow;
}
#sec-b{
    padding: 20px;
    background-color: rgb(113, 47, 219);
    text-align: center;
    color: rgb(221, 34, 34);
}
#sec-c{
    display: flex;
}
#sec-c div{
    padding: 20px;

}
#sec-c .box1,#sec-c .box3{
    background-color: rgba(44, 9, 243, 0.877);
    color: white;

}
#sec-c .box2{
    background-color: rgb(43, 53, 52);
    color: white;

}
.yt{
    width: 100%;
    margin-right: 2%;
    float: left;
}
.para{
    width: 100%;
    font-family: fantasy;
    color: rgba(232, 232, 241, 0.726);

}
.pcccc{
    font-family: monospace;
    float: left;
}